
.section .title {
    color: var(--white-test-color);
}

.section h3 {
    color: var(--primary-text-color);
}
.section p {
    color: var(--grey-text-color);
}

/* button */

.button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-color: #FFFFFF;
    cursor: pointer;
}
.picture .position {
    color: var(--grey-text-color);
}


