/* Genaral CSS */

:root {
    --accent-color: #2196F3;
    --black: #212121;
    --grey: #757575;
    --white: #FFFFFF;
    --contacts-footer: rgba(255, 255, 255, 0.6);
    --footer:#2F303A;
    --buttons-portfolio: #F5F4FA;
}

.accent {
    color:var(--accent-color);
}

.logo {
    color: var(--black);
}

.accent2 {
    color: var(--white);
}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26;
    font-style: normal;
    line-height: 31px;
    letter-spacing: 0.03em;
}

/* ______site */
/* ---ширина на всю!! (при этом main  и хедер  норм, т.к. в боди 1600. но почему боди не работает) */
body {
    background-color:var(--white);
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
    width: 1600px;
}


.menu a {
    width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.menu li{
    list-style-type:none;
}


.menu a:focus,
.menu a:hover,
.menu a:active{
    color: var(--accent-color);
}

.menu .link-current{
    color: var(--accent-color);
}

.contacts a{
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--grey);
    text-decoration: none;
}

.contacts a:focus,
.contacts a:hover,
.contacts a:active {
    color: var(--accent-color);
}

.contacts li {
    list-style-type: none;
}

/* -----Main CSS  */
.hero-image {
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background:var(--footer);
}
.hero-text h1 {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: var(--white);

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
/* Не понятно как добавить анимацию кнопки при наведении */
.button{
    position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    border-radius: 4px;
    background-color: #2196F3;
    border: 0;
    color: #FFF;
    cursor: pointer;
    /* text */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;

    margin-top: 30px;
    
}
.button:hover{
    background-color:#7890F9;
}

.section-advantage{
    width: 1170px;
    /* -----высота не бьет с макетом. в просмотре нестыковка. нужно 200. на макете 98 */
    height: 98px;  
    left: 215px;
    top: 774px;
    margin-top: 50px;
    margin-left: 215px;
}
.section-advantage h2{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black);
}
.section-advantage li{
   list-style-type: none;
}
.section-advantage p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--grey);
}

/* ----тоже самое- не бьет с макетом */
.section-chim_z{
    width: 1170px;
    height: 386px;
    margin-left: 217px;
    margin-top: 200px;
    padding-bottom: 60px;
}
.section-chim_z  h2 {
    color: var(--black);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-team li{
   list-style-type:none ;
} 

.section-team h3{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    /* text-align: center; - не работает внутри li */
    letter-spacing: 0.03em;
    color: var(--black);

}
.section-team p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    /* text-align: center;все летит */
    letter-spacing: 0.03em;
    color: var(--grey);
}
/* Не понятно как выровнять сева отступ...------- */


/* ______Footer */
.footer-section {
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2094px;
    background-color:var(--footer);

}


.footer-section li {
    list-style-type: none;
    font-style: normal;
    
}
.misto{
    color: var(--white);
}
.contact-footer{
    color: var(--contacts-footer);
}
.contact-footer,
.misto{
    text-decoration: none;
}
/* Как сделать отступ слева и выравнивание вертикаль-центр- хз-------- 



/* ----- Portfolio */
.buttons-portfolio{
    background-color: var(--buttons-portfolio);
    color: var(--black);
    cursor: pointer;
    border-radius: 4px;
    width: 103px;
    height: 38px;
    left: 846px;
    top: 174px;
    border: 0;}

.buttons-portfolio:hover{
    background-color: var(--accent-color);
    color: var(--white);
}



.sections-portfolio h2 {
    width: 322px;
    height: 36px;
    left: 639px;
    top: 576px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */

    letter-spacing: 0.06em;
    columns: var(--black);
}

.sections-portfolio .shorts{

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */

    letter-spacing: 0.03em;
    color: var(--grey);
}